Columns description : 

Age[15-49]All_gradeX : Percentage of the entire population ages 15 to 49 that has completed grade X
Age[15-49]Male_gradeX : Percentage of the male population ages 15 to 49 that has completed grade X
Age[15-49]Female_gradeX : Percentage of the female population ages 15 to 49 that has completed grade X
X = [1...3]

Instructions

Step 1: Data exploration with Pandas
Download the provided dataset
Use pandas to read the file into a pandas Dataframe.
Display general information about the dataset.
Run descriptive analysis on the dataset using the 'describe' function.
Step 2: Data exploration with ydata-profiling
Use ydata-profiling to generate a report of the provided dataset.
Look for missing values in the dataset. You can use the report generated by ydata to identify missing values.
Examine the correlations between different columns in the dataset. You can use the report generated by ydata to identify correlations.
Identify any other interesting patterns or insights in the dataset that you can discover through the ydata-profiling report.
Step 3: Summary
Write a summary of your findings based on the ydata-profiling report. Be sure to include any interesting patterns or insights you discovered in the dataset.

In [1]:
#ydata profiling
import pandas as pd

## Step 1: DATA EXPLORATION WITH PANDAS

In [8]:

#Downloading the provided dataset
Education_dataset = pd.read_csv("Documents/EDUCATION_ATTAINMENT.csv")

In [ ]:
#Using pandas to read the file into a pandas Dataframe.

In [11]:
#Displaying general information about the dataset
Education_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 626 entries, 0 to 625
Data columns (total 38 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Ages[15-49]_All_grade1     626 non-null    float64
 1   Ages[15-49]_All_grade2     626 non-null    float64
 2   Ages[15-49]_All_grade3     626 non-null    float64
 3   Ages[20-29]_All_grade1     626 non-null    float64
 4   Ages[20-29]_All_grade2     626 non-null    float64
 5   Ages[20-29]_All_grade3     626 non-null    float64
 6   Ages[30-39]_All_grade1     625 non-null    float64
 7   Ages[30-39]_All_grade2     625 non-null    float64
 8   Ages[30-39]_All_grade3     625 non-null    float64
 9   Ages[40-49]_All_grade1     625 non-null    float64
 10  Ages[40-49]_All_grade2     625 non-null    float64
 11  Ages[40-49]_All_grade3     625 non-null    float64
 12  Ages[15-49]_Male_grade1    626 non-null    float64
 13  Ages[15-49]_Male_grade2    626 non-null    float64
 14  Ages[15-49]_Male_grade3    626 non-null    float64
 15  Ages[20-29]_Male_grade1    626 non-null    float64
 16  Ages[20-29]_Male_grade2    626 non-null    float64
 17  Ages[20-29]_Male_grade3    626 non-null    float64
 18  Ages[30-39]_Male_grade1    625 non-null    float64
 19  Ages[30-39]_Male_grade2    625 non-null    float64
 20  Ages[30-39]_Male_grade3    625 non-null    float64
 21  Ages[40-49]_Male_grade1    625 non-null    float64
 22  Ages[40-49]_Male_grade2    625 non-null    float64
 23  Ages[40-49]_Male_grade3    625 non-null    float64
 24  Ages[15-49]_Female_grade1  626 non-null    float64
 25  Ages[15-49]_Female_grade2  626 non-null    float64
 26  Ages[15-49]_Female_grade3  626 non-null    float64
 27  Ages[20-29]_Female_grade1  626 non-null    float64
 28  Ages[20-29]_Female_grade2  626 non-null    float64
 29  Ages[20-29]_Female_grade3  626 non-null    float64
 30  Ages[30-39]_Female_grade1  625 non-null    float64
 31  Ages[30-39]_Female_grade2  625 non-null    float64
 32  Ages[30-39]_Female_grade3  625 non-null    float64
 33  Ages[40-49]_Female_grade1  625 non-null    float64
 34  Ages[40-49]_Female_grade2  625 non-null    float64
 35  Ages[40-49]_Female_grade3  625 non-null    float64
 36  country                    626 non-null    object
 37  year                       626 non-null    int64
dtypes: float64(36), int64(1), object(1)
memory usage: 186.0+ KB

In [13]:
#Descriptive analysis of the dataset using the describe function
Education_dataset.describe()

,Ages[15-49]_All_grade1,Ages[15-49]_All_grade2,Ages[15-49]_All_grade3,Ages[20-29]_All_grade1,Ages[20-29]_All_grade2,Ages[20-29]_All_grade3,Ages[30-39]_All_grade1,Ages[30-39]_All_grade2,Ages[30-39]_All_grade3,Ages[40-49]_All_grade1,...,Ages[20-29]_Female_grade1,Ages[20-29]_Female_grade2,Ages[20-29]_Female_grade3,Ages[30-39]_Female_grade1,Ages[30-39]_Female_grade2,Ages[30-39]_Female_grade3,Ages[40-49]_Female_grade1,Ages[40-49]_Female_grade2,Ages[40-49]_Female_grade3,year
count,626.000000,626.000000,626.000000,626.000000,626.000000,626.000000,625.000000,625.000000,625.000000,625.000000,...,626.000000,626.000000,626.000000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,626.000000
mean,0.873886,0.861490,0.837509,0.823849,0.812738,0.789965,0.766171,0.752519,0.724980,0.709166,...,0.790544,0.778972,0.755644,0.719020,0.704342,0.675526,0.646864,0.628309,0.593585,2005.049521
std,0.162624,0.166895,0.176555,0.200559,0.202587,0.207979,0.236563,0.237679,0.240681,0.259998,...,0.236541,0.238637,0.243755,0.278133,0.279059,0.281139,0.302723,0.302637,0.301434,7.894248
min,0.251917,0.244071,0.233274,0.079610,0.079610,0.079610,0.098059,0.091358,0.085236,0.036549,...,0.029662,0.029662,0.029662,0.060930,0.058368,0.053241,0.022547,0.022022,0.020972,1981.000000
25%,0.831791,0.803131,0.757465,0.744915,0.723418,0.678869,0.639447,0.612464,0.561545,0.527055,...,0.678596,0.658977,0.616380,0.534060,0.508218,0.463656,0.400638,0.372404,0.330846,2000.000000
50%,0.948926,0.935167,0.909587,0.910132,0.896568,0.864849,0.853861,0.831246,0.794898,0.785356,...,0.900869,0.887206,0.853414,0.815823,0.794049,0.749927,0.719924,0.686513,0.625602,2005.000000
75%,0.984447,0.980112,0.971166,0.973777,0.967410,0.955625,0.959097,0.948259,0.922841,0.937129,...,0.974514,0.968962,0.959495,0.958022,0.946510,0.920707,0.929507,0.914777,0.875928,2011.000000
max,1.000000,1.000000,1.000000,1.000000,0.999824,0.999264,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,0.999777,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2020.000000

### Step 2: Data exploration with ydata-profiling

In [ ]:
#Installing ydata profiling
!pip install pandas-profiling
#ydata profiling

In [15]:
#searching for missing values in a dataset
num_rows = Education_dataset.shape[0]

#Finding the sample size
sample_size = min(100, num_rows) #Sample size should not exceed the number of rows

In [18]:
#Picking a random sample
sample_df= Education_dataset.sample (n=sample_size, random_state = 28)

In [19]:
sample_df

,Ages[15-49]_All_grade1,Ages[15-49]_All_grade2,Ages[15-49]_All_grade3,Ages[20-29]_All_grade1,Ages[20-29]_All_grade2,Ages[20-29]_All_grade3,Ages[30-39]_All_grade1,Ages[30-39]_All_grade2,Ages[30-39]_All_grade3,Ages[40-49]_All_grade1,...,Ages[20-29]_Female_grade2,Ages[20-29]_Female_grade3,Ages[30-39]_Female_grade1,Ages[30-39]_Female_grade2,Ages[30-39]_Female_grade3,Ages[40-49]_Female_grade1,Ages[40-49]_Female_grade2,Ages[40-49]_Female_grade3,country,year
411,0.938053,0.933750,0.924609,0.818433,0.814503,0.795336,0.640615,0.629942,0.605427,0.499463,...,0.744632,0.722674,0.499044,0.490590,0.468158,0.299970,0.292008,0.264858,Nepal,2014
283,0.954713,0.946951,0.921526,0.852903,0.834184,0.792219,0.802259,0.789657,0.736003,0.718250,...,0.788875,0.741557,0.746367,0.729823,0.669633,0.641400,0.607229,0.519307,Cambodia,2007
327,0.987450,0.985275,0.979276,0.975416,0.968824,0.958221,0.962090,0.951205,0.929286,0.934565,...,0.966783,0.956953,0.955869,0.943939,0.922435,0.915132,0.892473,0.855071,Mexico,2006
469,0.664049,0.655185,0.631952,0.493248,0.487380,0.461857,0.377846,0.371788,0.360095,0.307846,...,0.424740,0.401983,0.313038,0.304386,0.292566,0.241013,0.235987,0.228791,Senegal,2012
230,0.952579,0.938738,0.910717,0.902922,0.891097,0.875131,0.783855,0.769074,0.739427,0.611065,...,0.873598,0.858648,0.717674,0.701602,0.666307,0.528942,0.495769,0.449461,Haiti,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,0.882800,0.875438,0.862988,0.967865,0.962012,0.947941,0.965745,0.957969,0.939343,0.935062,...,0.957667,0.942937,0.963029,0.955082,0.935715,0.920441,0.903418,0.874345,Ecuador,2005
610,0.911825,0.890937,0.854729,0.897985,0.881404,0.850116,0.898403,0.886914,0.854807,0.801167,...,0.846154,0.809678,0.853263,0.835883,0.790117,0.692784,0.650368,0.578818,Zambia,1996
122,0.983079,0.975480,0.949112,0.972006,0.961509,0.927437,0.950163,0.933444,0.880570,0.921802,...,0.965977,0.932674,0.950064,0.934943,0.880786,0.922059,0.885614,0.795228,Colombia,1995
551,1.000000,1.000000,1.000000,0.989764,0.989764,0.985422,0.984706,0.982456,0.982456,0.975629,...,0.987409,0.984096,0.976636,0.971963,0.971963,0.977777,0.977777,0.977777,Tuvalu,2019
557,0.888811,0.876738,0.862149,0.810547,0.801294,0.780733,0.826577,0.817869,0.794058,0.745694,...,0.774169,0.757616,0.793668,0.786151,0.764512,0.642454,0.632419,0.617193,Tanzania,2007

In [ ]:
#Generate the profile report
profile = ProfileReport(sample_df, title= 'Pandas Profiling Report')

In [ ]:
#Generate an HTML report
profile.to_file("sample_df.html")

## In looking for missing values in the dataset, Use the report generated by ydata to identify it

## Examine the correlations between different columns in the dataset.You can use the report generated to identify correlations.

In [21]:
missing_values = sample_df.isnull().sum()
print("Missing values per column using isnull() and sum(): ")
print(missing_values)

Missing values per column using isnull() and sum():
Ages[15-49]_All_grade1       0
Ages[15-49]_All_grade2       0
Ages[15-49]_All_grade3       0
Ages[20-29]_All_grade1       0
Ages[20-29]_All_grade2       0
Ages[20-29]_All_grade3       0
Ages[30-39]_All_grade1       1
Ages[30-39]_All_grade2       1
Ages[30-39]_All_grade3       1
Ages[40-49]_All_grade1       1
Ages[40-49]_All_grade2       1
Ages[40-49]_All_grade3       1
Ages[15-49]_Male_grade1      0
Ages[15-49]_Male_grade2      0
Ages[15-49]_Male_grade3      0
Ages[20-29]_Male_grade1      0
Ages[20-29]_Male_grade2      0
Ages[20-29]_Male_grade3      0
Ages[30-39]_Male_grade1      1
Ages[30-39]_Male_grade2      1
Ages[30-39]_Male_grade3      1
Ages[40-49]_Male_grade1      1
Ages[40-49]_Male_grade2      1
Ages[40-49]_Male_grade3      1
Ages[15-49]_Female_grade1    0
Ages[15-49]_Female_grade2    0
Ages[15-49]_Female_grade3    0
Ages[20-29]_Female_grade1    0
Ages[20-29]_Female_grade2    0
Ages[20-29]_Female_grade3    0
Ages[30-39]_Female_grade1    1
Ages[30-39]_Female_grade2    1
Ages[30-39]_Female_grade3    1
Ages[40-49]_Female_grade1    1
Ages[40-49]_Female_grade2    1
Ages[40-49]_Female_grade3    1
country                      0
year                         0
dtype: int64

## Examine the correlations between different columns in the dataset. You can use the report generated by ydata to identify correlations.

In [ ]:
The correlations between different columns in the dataset has a relationship that is strongly positive

## Identify any other interesting patterns or insights in the dataset that you can discover through the ydata-profiling report.

In [ ]:
The termed dataset has a population, male and female consisting of various age grades. Focus is being played on individuals aged 15-49. For each subgroup, the performance of all grades is analyzed
Strong correlation between the scores of different grades, indicating that individuals who perform well in one grade are likely to perform well in others as well

High Scores Across Grades: The means for all grades are relatively high

Interesting Spread: The IQR and standard deviation increase slightly from grade 1 to grade 3, the spread is broader in higher grades

Correlation: High correlation indicates that the scores in one grade are likely predictive of the score in another grade